.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
}

.renderer {
    width: 100%;
    overflow-x: auto;
}
